default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: qwertyball_dev
  username: msallin
  password: 
  host: localhost
  port: 5432

test:
  <<: *default
  database: qwertyball_test
  username: msallin
  password: 
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
